
a {
  color: #2ADEA8;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(0, 255, 255);
  font-family: helvetica, arial, sans-serif;
}

p {
  text-align: center;
}

//rgb(38, 0, 128)
//rgb(215, 246, 248)